# Build output
output/

# Backup files
*.bak

# Local overrides
*.local.*

# Test results and coverage
*.coverage
testResults/
CodeCoverage/

# Resolved dependencies
.packages/

# Visual Studio / VS Code artifacts
*.suo
*.user
.vs/

# PowerShell project files (ISE/PowerShell Tools)
.psproj
*.sln

# Sampler temp files
markdownissues.txt

# Do not ignore README files
!**/README.md
